<div class="templatemo-content-container">
  <div class="templatemo-flex-row flex-content-row">
    <div class="templatemo-content-widget white-bg col-2">
      <i class="fa fa-times"></i>
      <div class="square"></div>
      <h2 class="templatemo-inline-block">Admin</h2><hr>
      <p>Chuong trình đưọc viết bằng Ruby, Rails FRAMEWORK</p>
      <p>Thực hiện: Trương Công Trạng</p>
      <p>Email: tnkttruong@gmail.com</p>
      <p>Số ÐT: 01626757797</p>
    </div>
  </div>
</div>
