
.clear{
	margin-bottom: 20px;
}
.error{
	color: red;
	font-weight: bold;
}
.templatemo-left-nav > ul > li > a {
	padding: 15px 30px;
}
.imgnews{
	height: 200px;
	width: 200px;
}
/* .templatemo-top-nav a {
	border-left: none;
} */